<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Play To Earn</title>
</head>
<body class="bg-dark">
    <div class="container">
        <div class="mt-5">
            <div class="mb-3 row text-white">
                <input type="hidden" name="gameName" value="{{ game_info['NAME'] }}" />
                <div class="col-4">
                    <a role="button"
                        href="{{ '#' if transformed_info['PREV_ID'] is none else transformed_info['PREV_ID'] }}"
                        class="btn btn-primary align-self-start">Back</a>
                </div>
                <div class="col-4">
                    <div class="text-center">{{ game_info['ID'] }} of 1947</div>

                </div>
                <div class="col-4">
                    <a role="button" href="{{ url_for('game', game_id=transformed_info['NEXT_ID']) }}"
                        class="btn btn-primary float-end">Next</a>
                </div>
            </div>
            <div class="mb-3">
                <a class="btn btn-primary" href="{{ game_info['URL'] }}" target="_blank"> Open in Play-to-Earn</a>
            </div>
            <div class="mb-3">
                <label class="form-label text-white">Title</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="title" value="{{ transformed_info['TITLE'] }}">
                    <button class="btn bg-primary text-white" type="button" data-target="#title">Copy</button>
                </div>
            </div>
            <div class="mb-3 row text-white">
                <div class="col-6">
                    <label class="form-label text-white">Focus
                        keyphrase</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="focusKeyphrase"
                            value="{{ transformed_info['FOCUS_KEYPHRASE'] }}">
                        <button class="btn bg-primary text-white" type="button"
                            data-target="#focusKeyphrase">Copy</button>
                    </div>
                </div>
                <div class="col-6">
                    <label class="form-label text-white">SEO Title</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="seoTitle"
                            value="{{ transformed_info['SEO_TITLE'] }}">
                        <button class="btn bg-primary text-white" type="button" data-target="#seoTitle">Copy</button>
                    </div>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-6">
                    <label class="form-label text-white">Slug</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="slug" value="{{ transformed_info['SLUG'] }}">
                        <button class="btn bg-primary text-white" type="button" data-target="#slug">Copy</button>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" {{ 'checked' if transformed_info['FREE_TO_PLAY']
                            else '' }}>
                        <label class=" text-white">Free-to-Play</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" {{ 'checked' if transformed_info['NFT_SUPPORT']
                            else '' }}>
                        <label class=" text-white">NFT Support</label>
                    </div>
                    <div class="form-check mt-2">
                        <a role="button" class="btn btn-warning" id="searchRentalButton" data-value="{{ game_info['NAME'] }}" href="#" target="_blank">Search NFT Rental</a>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label text-white">Meta description</label>
                <div class="input-group mb-3">
                    <textarea class="form-control" rows="8"
                        id="metaDescription">{{ transformed_info['META_DESCRIPTION'] }}</textarea>
                    <button class="btn bg-primary text-white" type="button" data-target="#metaDescription">Copy</button>
                </div>
            </div>
            {% if transformed_info['IMAGES_PATH'] is not none %}
                <div class="mb-3">
                    <a role="button" data-value="{{ transformed_info['IMAGES_PATH'] }}" id="folderPath" class="btn btn-primary">Open images folder</a>
                    </form>
                </div>
            {% endif %}
            
            <div class="mb-3">
                <div class="d-flex justify-content-center">
                    <div id="carouselExampleCaptions" class="carousel slide w-75" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% for image in transformed_info['IMAGES']%}
                                <div class="carousel-item {{ 'active' if loop.index == 1 else '' }}">
                                    <img src="{{ image }}" class="d-block w-100" height="500" alt="...">
                                    <!-- <div class="carousel-caption d-none d-md-block">
                                        <h5>Second slide label</h5>
                                        <p>Some representative placeholder content for the second slide.</p>
                                    </div> -->
                                </div>
                            {% endfor %}
    
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                
            </div>
            <div class="mb-3 row">
                <div class="col-6">
                    <label class="form-label text-white">Game Thumbnail</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="thumbnail" value="{{ game_info['PROFILE_PIC'] }}">
                        <button class="btn bg-primary text-white" type="button" data-target="#thumbnail">Copy</button>
                    </div>

                </div>
            </div>
            <div class="mb-3">
                <label class="form-label text-white">Game Snapshot</label>
                <div class="input-group mb-3">
                    <textarea class="form-control" rows="8"
                        id="gameSnapshot">{{ transformed_info['GAME_SNAPSHOT'] }}</textarea>
                    <button class="btn bg-primary text-white" type="button" data-target="#gameSnapshot">Copy</button>
                </div>
            </div>
            <h2 class="text-white">Overview</h2>
            <div class="mb-3 row">
                <div class="col-6">
                    <label class="form-label text-white">Blockchain</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="blockchain"
                            value="{{ transformed_info['BLOCKCHAIN'] }}">
                        <button class="btn bg-primary text-white" type="button" data-target="#blockchain">Copy</button>
                    </div>

                </div>
                <div class="col-6">
                    <label class="form-label text-white">Device</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="devices" value="{{ transformed_info['DEVICES'] }}">
                        <button class="btn bg-primary text-white" type="button" data-target="#devices">Copy</button>
                    </div>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-6">
                    <label class="form-label text-white">Genre:</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="genres" value="{{ transformed_info['GENRES'] }}">
                        <button class="btn bg-primary text-white" type="button" data-target="#genres">Copy</button>
                    </div>
                </div>
                <div class="col-6">
                    <label class="form-label text-white">Tokens:</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="tokens" value="{{ transformed_info['TOKENS'] }}">
                        <button class="btn bg-primary text-white" type="button" data-target="#tokens">Copy</button>
                    </div>
                </div>
            </div>
            <h2 class="text-white">Community</h2>
            <div class="mb-3 row">
                <div class="col-6">
                    <label class="form-label text-white">Web <a {{ '' if game_info['WEBSITE'] is none else 'target="_blank"' }} href="{{ '#' if game_info['WEBSITE'] is none else game_info['WEBSITE'] }}">Open link</a></label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="web" value="{{ game_info['WEBSITE'] }}">
                        <button class="btn bg-primary text-white" type="button" data-target="#web">Copy</button>
                    </div>

                </div>
                <div class="col-6">
                    <label class="form-label text-white">Twitter <a {{ '' if game_info['TWITTER'] is none else 'target="_blank"' }} href="{{ '#' if game_info['TWITTER'] is none else game_info['TWITTER'] }}">Open link</a></label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="twitter" value="{{ game_info['TWITTER'] }}">
                        <button class="btn bg-primary text-white" type="button" data-target="#twitter">Copy</button>
                    </div>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-6">
                    <label class="form-label text-white">Discord <a {{ '' if game_info['DISCORD'] is none else 'target="_blank"' }} href="{{ '#' if game_info['DISCORD'] is none else game_info['DISCORD'] }}">Open link</a></label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="discord" value="{{ game_info['DISCORD'] }}" >
                        <button class=" btn bg-primary text-white" type="button" data-target="#discord">Copy</button>
                    </div>
                </div>
                <div class="col-6">
                    <label class="form-label text-white">Telegram <a {{ '' if game_info['TELEGRAM'] is none else 'target="_blank"' }} href="{{ '#' if game_info['TELEGRAM'] is none else game_info['TELEGRAM'] }}">Open link</a></label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="telegram" value="{{ game_info['TELEGRAM'] }}">
                        <button class="btn bg-primary text-white" type="button" data-target="#telegram">Copy</button>
                    </div>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-6">
                    <label class="form-label text-white">Youtube <a {{ '' if game_info['YOUTUBE'] is none else 'target="_blank"' }} href="{{ '#' if game_info['YOUTUBE'] is none else game_info['YOUTUBE'] }}">Open link</a></label>
                    <a class="btn btn-warning my-2" id="searchYTButton" data-value="{{ game_info['NAME'] }}" href="#" target="_blank">Search Youtube</a>
                    
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="youtube" value="{{ game_info['YOUTUBE'] }}">
                        <button class="btn bg-primary text-white" type="button" data-target="#youtube">Copy</button>
                    </div>
                </div>
            </div>


        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
        <script>
            function encodeQueryData(data) {
                const ret = [];
                for (let d in data)
                    ret.push(encodeURIComponent(d) + '=' + encodeURIComponent(data[d]));
                return ret.join('&');
            }
            buttons = document.getElementsByTagName("button")
            for (var i = 0; i < buttons.length; i++) {
                buttons[i].addEventListener("click", async (evt) => {
                    let dataTarget = evt.target.attributes.getNamedItem('data-target').value
                    let element = document.querySelector(dataTarget)
                    await navigator.clipboard.writeText(element.value)
                    evt.target.textContent = "Copied!"
                    evt.target.classList.remove("bg-primary")
                    evt.target.classList.add("bg-success")
                    setTimeout(function () {
                        evt.target.classList.remove("bg-success")
                        evt.target.classList.add("bg-primary")
                        evt.target.textContent = "Copy"

                    }, 2000)

                })
            }
            let openImagePathButton = document.querySelector("#folderPath")
            if (openImagePathButton != null) {
                openImagePathButton.addEventListener("click", (evt) => {
                    let folderPath = evt.target.attributes.getNamedItem('data-value').value
                    fetch("/openfolder", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            'folderPath': folderPath
                        })
                    })
                    .then(resp => {
                        console.log("Opening folder")
                    })
                })
            }
            let searchRentalButton = document.querySelector("#searchRentalButton")
            let gameName = searchRentalButton.attributes.getNamedItem('data-value').value
            const GOOGLE_SEARCH_URL = 'https://google.com/search?' + encodeQueryData({ 'q': gameName + ' NFT Rental' })
            searchRentalButton.href = GOOGLE_SEARCH_URL

            let searchYTButton = document.querySelector("#searchYTButton")
            const YOUTUBE_SEARCH_URL = 'https://www.youtube.com/results?' + encodeQueryData({ 'search_query': gameName + ' trailer' })
            searchYTButton.href = YOUTUBE_SEARCH_URL

        </script>
</body>

</html>